@model AgendaJaque.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes de @Model.Nome</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class="col-sm-10">
            @Convert.ToInt64(Model.Celular).ToString("(##)#####-####")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CelularFamiliar)
        </dt>
        <dd class="col-sm-10">
            @Convert.ToInt64(Model.CelularFamiliar).ToString("(##)#####-####")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMensal)
        </dt>
        <dd class = "col-sm-10">
            @Model.ValorMensal.ToString("C")
        </dd>
    </dl>
</div>

<partial name="_EnderecoView" />

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>
